* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}
header h3{
    font-size: 0.9rem;
    font-weight: medium;
    letter-spacing: -7.5%;
    line-height: 17.5px;
}
header img{
    height: 1.5rem;
    padding-right: 15px;
    object-fit: cover;
    object-position: center;
}
.section{
    width: 100%;
    display: flex;
    /* border-bottom: 1px solid grey; */
    margin: 35px 0 ;
    padding-left: 25px;
    padding-right: 25px;
}
.section-img{
    border-radius: 5px;
    height: 10rem;
    width: 7.8rem;
}
.right{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-left: 20px;
    flex-direction: column;
}
.loc{
    display: flex;
    align-items: center
}
.loc img{
    height: .7rem;
    /* width: 7px; */
    object-fit: cover;
}
.loc h3{
    font-size: .64rem;
    letter-spacing: 17%;
    text-transform: uppercase;
    color: #2B283A;
    margin-left: 5px;
    margin-right: 10px;
}
.loc a{
    color: #918E9B;
    font-size: .64rem;
}
.section-name{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: #2B283A;
}
.section-date{
    color: #2B283A;
    font-size: .64rem;
}
.section-info p{
    color: #2B283A;
    line-height: 150%;
    font-size: .64rem;
}